#section1 {
  height: 100vh;
}

#section1 .title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#section1 .title h1 {
  font-size: 100px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #ffd800;
  letter-spacing: 0px;
  transition: 1s;
  -webkit-transition: 1s;
  -ms-transition: 1s;
  position: relative;
  padding: 10px;
}

#section1 .title h1:before,
h1:after {
  content: '';
  position: absolute;
  height: 7px;
  width: 0px;
  background: #ffd800;
  transition: 300ms;
  -webkit-transition: 1s;
  -ms-transition: 1s;
  opacity: 0.3;
  left: 50%;
}

#section1 .title h1:before {
  bottom: 0;
}

#section1 .title h1:after {
  top: 0;
}

#section1 .title h1:hover {
  letter-spacing: 30px;
  cursor: pointer;
}

#section1 .title h1:hover:before,
#section1 .title h1:hover:after {
  width: 95%;
  opacity: 1;
  left: 0;
}
#section1 .title h1:hover ~ h2 {
  opacity: 0;
}

#section1 .title h2 {
  color: black;
  font-family: 'Pinyon Script', cursive;
  text-align: center;
  font-size: 150px;
  font-weight: 100;
  bottom: 40px;
  position: absolute;
  transition: 1s;
  -webkit-transition: 1s;
  -ms-transition: 1s;
  opacity: 0.1;
  width: 100%;
}

#section1 .subtitle {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  padding-bottom: 360px;
  color: gray;
}

#section1 .subtitle h3 {
  font-size: 22px;
}

#section1 .md-title {
  display: none;
}

@media screen and (max-width: 768px) {
  /* section1 */
  #section1 .title {
    display: none;
  }

  #section1 .md-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    height: 50vh;
  }

  #section1 .md-title h1 {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 80px;
  }

  #section1 .md-title h2 {
    font-family: 'Pinyon Script', cursive;
    color: #ffd800;
  }
}
