#section2 {
  height: 100vh;
  background: beige;
}

#section2 .introduce {
  margin-top: 120px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding: 0 10px;
  background-color: #ffee75;
}

#section2 .img img {
  width: 200px;
  height: 250px;
  margin: 60px 0 0 30px;
}

#section2 .my-info {
  display: flex;
  flex-direction: column;
  margin: 60px 0 0 30px;
}

#section2 .my-name {
  margin-bottom: 20px;
}

#section2 .education-box {
  margin-top: 50px;
  width: 100%;
  text-transform: uppercase;
  display: flex;
}

#section2 .education-date {
  margin: 0 50px;
}

#section2 .edcation-master {
  margin-left: 100px;
}

#section2 .award-box {
  margin-top: 20px;
  display: flex;
  text-transform: uppercase;
  width: 100%;
}

#section2 .award-date {
  margin-left: 81px;
  margin-right: 120px;
}

#section2 .award-master {
  margin-left: 100px;
}

#section2 .license-box {
  margin-top: 20px;
  width: 100%;
  text-transform: uppercase;
  display: flex;
}
#section2 .license-date {
  margin-left: 79px;
  margin-right: 115px;
}

#section2 .license-date__2 {
  margin-left: 163px;
  margin-right: 115px;
}

#section2 .placement-box {
  text-transform: uppercase;
  display: flex;
  margin-top: 20px;
}

#section2 .placement-date {
  margin-left: 42px;
  margin-right: 40px;
}

#section2 .img-text {
  margin-top: 20px;
  margin-left: 30px;
}
#section2 .img .fa-phone-alt {
  margin-bottom: 10px;
}

#section2 .fas,
.far {
  margin-right: 10px;
}

#section2 .contact-me {
  text-align: center;
  margin-top: 100px;
}

#section2 .contact-me__img {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  /* section2 */
  #section2 {
    height: 285vh;
  }
  #section2 .introduce {
    margin-top: 50px;
  }

  #section2 .img img {
    width: 200px;
    height: 250px;
    margin: 30px 0 5px 11vh;
  }

  #section2 .line {
    width: 5px;
    height: 30px;
    background-color: #ff8930;
    margin-top: 300px;
  }

  #section2 .img-text {
    margin-left: 70px;
    margin-bottom: 20px;
  }

  #section2 .my-info {
    margin-top: 0;
    margin-left: 11vh;
  }

  #section2 .my-name {
    margin-bottom: 20px;
  }

  #section2 .education-box,
  .license-box,
  .placement-box {
    flex-direction: column;
  }

  #section2 .education-date {
    margin: 0 0;
  }

  #section2 .license-date {
    margin-left: 0;
    margin-right: 0;
  }

  #section2 .license-date__2 {
    margin-left: 0;
    margin-right: 0;
  }

  #section2 .placement-date {
    margin-left: 0px;
    margin-right: 0px;
  }

  #section2 .education-box {
    flex-direction: column;
  }

  #section2 .education-date {
    margin: 0 0px;
  }

  #section2 .edcation-master {
    margin-left: 0px;
  }

  #section2 .award-box {
    flex-direction: column;
  }

  #section2 .award-date {
    margin-left: 0px;
    margin-right: 0px;
  }

  #section2 .award-master {
    margin-left: 0px;
  }

  #section2 .contact-me {
    text-align: center;
    margin-top: 70px;
  }

  #section2 .contact-me__img {
    margin: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #section2 .contact-me__img a {
    margin-bottom: 20px;
  }

  #section2 .contact-me__img strong {
    margin-bottom: 30px;
  }

  #section2 .fa-long-arrow-alt-left {
    display: none;
  }
}
