* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

/* nav */
#nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid bisque;
  z-index: 1;
}

#nav h1 {
  float: left;
  color: black;
  font-size: 40px;
  padding: 5px 5px 5px 15px;
}

#nav .menu {
  float: right;
  padding-right: 10px;
}

#nav .menu li {
  display: inline;
}

#nav .menu li a {
  display: inline-block;
  padding: 20px 15px;
  color: black;
  font-weight: bold;
  text-transform: capitalize;
}

#nav .menu li.active a {
  color: lightcoral;
}

#nav .mNav {
  display: none;
  position: absolute;
  top: 7px;
  right: 10px;
  width: 65px;
  height: 45px;
  cursor: pointer;
}

/* icon-menu */
.icon-wrap {
  padding-left: 10px;
}

.icon-wrap .fa-bars,
.icon-wrap .fa-bars:before,
.icon-wrap .fa-bars:after {
  width: 45px;
  height: 4px;
  background: black;
}

.icon-wrap .fa-bars {
  position: relative;
  margin-top: 10px;
}

.icon-wrap .fa-bars:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 10px;
}

.icon-wrap .fa-bars:after {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
}

/* contents */
#main {
  margin: 100px 0 0 0;
}

/* section */
#section1 {
  height: 100vh;
}

#section1 .title {
  margin-top: 70px;
  font-size: 80px;
}

#section1 .subtitle {
  margin-top: 500px;
  font-size: 30px;
  text-transform: uppercase;
}

#section2 {
  height: 100vh;
  background: beige;
}

#section2 .introduce {
  margin-top: 100px;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding: 0 10px;
  background-color: #ffee75;
}

#section2 .img img {
  width: 200px;
  height: 250px;
  margin: 60px 0 0 30px;
}

#section2 .my-info {
  display: flex;
  flex-direction: column;
  margin: 60px 0 0 30px;
}

#section2 .my-name {
  margin-bottom: 20px;
}

#section2 .education-box {
  margin-top: 50px;
  width: 100%;
  text-transform: uppercase;
  display: flex;
}

#section2 .education-date {
  margin: 0 50px;
}

#section2 .edcation-master {
  margin-left: 100px;
}

#section2 .award-box {
  margin-top: 20px;
  display: flex;
  text-transform: uppercase;
  width: 100%;
}

#section2 .award-date {
  margin-left: 81px;
  margin-right: 120px;
}

#section2 .award-master {
  margin-left: 100px;
}

#section2 .license-box {
  margin-top: 20px;
  width: 100%;
  text-transform: uppercase;
  display: flex;
}
#section2 .license-date {
  margin-left: 79px;
  margin-right: 115px;
}

#section2 .license-date__2 {
  margin-left: 163px;
  margin-right: 115px;
}

#section2 .placement-box {
  text-transform: uppercase;
  display: flex;
  margin-top: 20px;
}

#section2 .placement-date {
  margin-left: 42px;
  margin-right: 40px;
}

#section2 .img-text {
  margin-top: 20px;
  margin-left: 30px;
}
#section2 .img .fa-phone-alt {
  margin-bottom: 10px;
}

#section2 .fas,
.far {
  margin-right: 10px;
}

#section3 {
}
#section4 {
}
#section5 {
}
#section6 {
}

/* 반응형 */
@media screen and (max-width: 800px) {
  #nav .menu {
    display: none;
  }

  #nav .mNav {
    display: block;
  }

  #nav h1 {
    width: 100%;
    font-size: 25px;
  }

  #nav .menu {
    float: none;
    text-align: center;
    padding-right: 0;
  }

  #nav .menu li {
    width: 100%;
    display: inline-block;
  }

  #nav .menu li.active {
    background-color: rgba(255, 255, 255, 0.3);
  }

  /* section1 */
  #section1 .title {
    margin-top: 30px;
    font-size: 30px;
  }

  #section1 .subtitle {
    margin-top: 300px;
    font-size: 20px;
  }

  /* section2 */
  #section2 {
    height: 190vh;
  }
  #section2 .introduce {
    margin-top: 50px;
  }

  #section2 .img img {
    width: 200px;
    height: 250px;
    margin: 30px 0 5px 11vh;
  }

  #section2 .line {
    width: 5px;
    height: 30px;
    background-color: #ff8930;
    margin-top: 300px;
  }

  #section2 .img-text {
    margin-left: 70px;
    margin-bottom: 20px;
  }

  #section2 .my-info {
    margin-top: 0;
    margin-left: 11vh;
  }

  #section2 .my-name {
    margin-bottom: 20px;
  }

  #section2 .education-box,
  .license-box,
  .placement-box {
    flex-direction: column;
  }

  #section2 .education-date {
    margin: 0 0;
  }

  #section2 .license-date {
    margin-left: 0;
    margin-right: 0;
  }

  #section2 .license-date__2 {
    margin-left: 0;
    margin-right: 0;
  }

  #section2 .placement-date {
    margin-left: 0px;
    margin-right: 0px;
  }

  #section2 .education-box {
    flex-direction: column;
  }

  #section2 .education-date {
    margin: 0 0px;
  }

  #section2 .edcation-master {
    margin-left: 0x;
  }

  #section2 .award-box {
    flex-direction: column;
  }

  #section2 .award-date {
    margin-left: 0px;
    margin-right: 0px;
  }

  #section2 .award-master {
    margin-left: 0px;
  }

  #section2 .contact {
    margin: 20px 0 0 50px;
  }
}
