* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

/* nav */
#nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid bisque;
  z-index: 1;
}

#nav h1 {
  float: left;
  color: black;
  font-size: 40px;
  padding: 5px 5px 5px 15px;
}

#nav .menu {
  float: right;
  padding-right: 10px;
}

#nav .menu li {
  display: inline;
}

#nav .menu li a {
  display: inline-block;
  padding: 20px 15px;
  color: black;
  font-weight: bold;
  text-transform: capitalize;
}

#nav .menu li.active a {
  color: lightcoral;
}

#nav .mNav {
  display: none;
  position: absolute;
  top: 7px;
  right: 10px;
  width: 65px;
  height: 45px;
  cursor: pointer;
}

/* icon-menu */
.icon-wrap {
  padding-left: 10px;
}

.icon-wrap .fa-bars,
.icon-wrap .fa-bars:before,
.icon-wrap .fa-bars:after {
  width: 45px;
  height: 4px;
  background: black;
}

.icon-wrap .fa-bars {
  position: relative;
  margin-top: 10px;
}

.icon-wrap .fa-bars:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 10px;
}

.icon-wrap .fa-bars:after {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
}

/* contents */
#main {
  margin: 100px 0 0 0;
}

/* section */
#section1 {
  height: 100vh;
}

#section1 .title {
  margin-top: 70px;
  font-size: 80px;
}

#section1 .subtitle {
  margin-top: 500px;
  font-size: 30px;
  text-transform: uppercase;
}

#section2 {
  height: 100vh;
  background: beige;
}

#section2 .introduce {
  margin-top: 250px;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding: 0 10px;
  background-color: #ffee75;
}

#section2 .img img {
  width: 200px;
  height: 250px;
  margin: 60px 0 0 30px;
}

#section2 .line-box {
  display: flex;
  align-items: flex-start;
}

#section2 .line {
  width: 5px;
  height: 30px;
  background-color: #ff8930;
  margin-top: 60px;
}

#section2 .line-title {
  text-transform: uppercase;
  margin: 60px 0 0 20px;
  font-size: 20px;
}

#section2 .line-date {
  margin: 63px 0 0 60px;
  font-size: 15px;
}

#section2 .line-date__2 {
  margin: 63px 65px 0 95px;
  font-size: 15px;
}

#section2 .info {
  display: flex;
  flex-direction: column;
}

#section2 .line-desc {
  margin: 63px 0 0 60px;
  font-size: 15px;
}

#section2 .line-info {
  margin-top: 100px;
  font-size: 13px;
}

#section2 .line-info-2 {
  margin-top: 10px;
  font-size: 13px;
}

#section2 .license-box {
  display: flex;
  flex-wrap: wrap;
}

#section2 .line-space {
  margin-left: 194px;
}

#section2 .line-space__2 {
  margin-left: 55px;
}
#section3 {
}
#section4 {
}
#section5 {
}
#section6 {
}

/* 반응형 */
@media screen and (max-width: 800px) {
  #nav .menu {
    display: none;
  }

  #nav .mNav {
    display: block;
  }

  #nav h1 {
    width: 100%;
    font-size: 25px;
  }

  #nav .menu {
    float: none;
    text-align: center;
    padding-right: 0;
  }

  #nav .menu li {
    width: 100%;
    display: inline-block;
  }

  #nav .menu li.active {
    background-color: rgba(255, 255, 255, 0.3);
  }

  /* section1 */
  #section1 .title {
    margin-top: 30px;
    font-size: 30px;
  }

  #section1 .subtitle {
    margin-top: 300px;
    font-size: 20px;
  }

  /* section2 */
  #section2 .introduce {
    margin-top: 50px;
  }
}
